body {
 

     margin: 0;
     text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  top: 0;
    position: fixed;
    height: 50px;
    background-color: #005bb5;
    width: 100%;
  
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px; 
     margin-right: 40px;
}
.navbar ul li a:hover {
   
    color: purple;

    
}
.navbar ul {
  display: flex;
  gap: 10px;
  justify-content: center;
    list-style-type: none;
}
.navbar ul li {
    margin-bottom: 20px;
}
h1{
  margin-top: 5rem;
}
.content{

  margin-top:5rem;
    font-size: 20px;
  color: black;
  width: 100%;
  min-height: 5rem;
  height: 10rem;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 10rem;
}
.content .description{
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;

}

.food-dish{
  width: 400px;
  object-fit: cover;
  height: 250px;
  border-radius:100px
}
#overlay {
display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }


  .btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-logout {
    background-color: rgb(217, 83, 79);
 
  }
  .btn-logout a {
    text-decoration: none;
    color:  black
  }
  .btn-cancel {
    background-color: rgb(91, 192, 222);

  }
  #logoutBtn{
    background-color: red;
    width: 100px;
    height: auto;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
  }
  #logoutBtn:hover{
    opacity: 0.7;
  }


  footer{
    margin-top: 5rem;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #005bb5;
    color: wheat;
  }
  .newsletter {
    position: relative;
    width: 400px; 
  }
  
  .newsletter input {
    width: 100%;
    padding: 10px 100px 10px 10px; 
    font-size: 16px;
    border: 2px solid #0073e6;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
  }
  
  .newsletter button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .newsletter button:hover {
    background-color: #005bb5; 
  } 
  .hamburgerMenu{
    display: none;
   }
  
  .hamburgerIcon{
    font-size: 35px;
    margin-left: 80%;
    cursor: pointer;
  }
  #map{
    height: 400px; 
    width: 100%;
  }
  
  @media (max-width: 767px){
    .hamburgerMenu{
      min-height: 50px;
      display: block;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #005bb5;
    }
    .hamburgerMenu ul{
    list-style: none;
    }
      .hide{
        display: none;
      }
    .hamburgerMenu ul li  {
      text-decoration: none;
      margin-bottom: 10px;
    }
    .hamburgerMenu ul li a {
      text-decoration: none;
      font-size: 17px;
      color: black;
    }
   
    .navbar{
      display: none;
    }
    footer{
      grid-template-columns: 1fr ;
     }
     footer .newsletter{
      width: 300px;
     }
    
   
    .content{
      grid-template-columns: 1fr;
      margin-bottom: 30rem;
    }
    .content .description{
      margin: 0;
      width: 100%;
    }
    .content img{
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1217px){
    .hamburgerMenu{
      min-height: 50px;
      display: block;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #005bb5;
    }
    .hamburgerMenu ul{
    list-style: none;
    }
      .hide{
        display: none;
      }
    .hamburgerMenu ul li  {
      text-decoration: none;
      margin-bottom: 10px;
    }
    .hamburgerMenu ul li a {
      text-decoration: none;
      font-size: 17px;
      color: black;
    }
   
    .navbar{
      display: none;
    }
    
    footer{
      grid-template-columns: 1fr 1fr;
    }
    .content {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20rem ;
    }
    .modal{
      width: 60%;
      height: 10rem;
     }
  }
  @media (min-width: 1024px) and (max-height: 600px){
    .modal{
      width: 40%;
      height: auto;
     }
  }